---
---

<div id="journal">
    <div class="header section">
        <h1>
            About me
        </h1>
        <h2>
            Subheader
        </h2>
        <p>
            My name’s Matt and I’m a web developer. I specialise in Front-End, writing 
            HTML, CSS, and Javascript, but my background is in design. I love clever puns, 
            Gill Sans, and one day aspire to have my own library with sliding ladders.
        </p>
    </div>
    <div class="section">
        <h2>My specific skills</h2>
    </div>
    <div class="section">
        <h2>How I got started</h2>
        <p>
            After studying Graphic Design at university, I started out as a young freelance 
            designer and spent about a year being asked if I “did websites”. Eventually, I 
            started saying “yes”.
        </p>
        <p>
            I began to look into Wordpress and, soon after, started to write my own basic 
            code (it was crude, but it worked). I finished a distant-learning course, whilst 
            working in tech support, and enrolled in a coding bootcamp.
            I quickly realised how little I knew.
        </p>
        <p>
            Moving to London and starting to meet other developers for the first time 
            really introduced me to the fast-paced world of modern web development. 
            I haven’t stopped learning since!
        </p>
        <p>
            The bootcamp was Makers’ Academy, based in London. It was a full-time, 
            three-month program, and covered seemingly everything from the command 
            line to Ruby and Rspec. Those three months were some of the most exhausting, 
            and exhilarating, of my life. But I loved every second.
        </p>
        <p>
            The last few years have seen me working at a variety of companies. Six months 
            helping an education-based tech start-up secure another round of funding with 
            an “impressive” prototype, another three months helping a design agency meet 
            tight deadlines on a big redesign, then over two years at a more established 
            tech start-up working to revolutionise the fashion industry.
        </p>
    </div>
    <div class="section">
        <h2>My interests and hobbies</h2>
    </div>
</div>
