---
---

<div id="about">
    <div class="header section">
        <h1>
            About me
        </h1>
        <h2>
            Subheader
        </h2>
        <p>
            My name’s Matt and I’m a web developer. I specialise in Front-End, writing 
            HTML, CSS, and Javascript, but my background is in design (especially UI/UX). 
            I love clever puns, Gill Sans, and one day aspire to have my own library... complete with sliding ladders.
        </p>
    </div>
    <div class="about section">
        <h2>My specific skills</h2>
        <div class="left column">
            <ul>
                <li> UI / UX Design & Mock-ups</li>
                <li> Wireframing / Polished prototypes</li>
                <li> Asset creation (icons, illustrations, etc.)</li>
                <li> Branding identity, and marketing design</li>
                <li> Proficiency with Adobe Creative Suite, Sketch</li>
                <li> Testing (WCAG, responsiveness, and cross-browser)</li>
            </ul>
        </div>
        <div class="right column">
            <ul>
                <li> HTML5 (Haml, Markdown)</li>
                <li> CSS3 (SASS, ITCSS)</li>
                <li> JavaScript (ES6, React, Coffeescript)</li>
                <li> Version Control (GitHub)</li>
                <li> Ruby (Rails framework)</li>
                <li> Rspec (Test-driven-development)</li>
            </ul>
        </div>
    </div>
    <div class="about section">
        <h2>How I got started</h2>
        <div class="left column">
            <p>
                After studying Graphic Design at university, I started working as a young freelance 
                designer and spent about a year being asked if I <strong>“did websites”</strong>. Eventually, I 
                started saying “yes”.
            </p>
            <p>
                I began to play around with Wordpress and started to write my own basic 
                code (it was crude, but it worked). I finished a web design course, whilst 
                working in tech support, and enrolled in a coding bootcamp.
            </p>
            <p>
                The bootcamp was <strong>Makers’ Academy</strong>, so I moved to London in 2014 and started their full-time, 
                three-month program. We covered seemingly everything from the command 
                line to Ruby and Rspec. Those three months were some of the most exhausting 
                and exhilarating of my life, but I loved every second.
            </p>
            <p>
                After that, I landed my first job as a junior web-developer at <strong>Edukit</strong> (a start-up working out 
                of a co-working space on Silicon Roundabout). Meeting other developers for the first time 
                really introduced me to the fast-paced world of modern web development. Since then, I've been lucky enough to work with a variety of talented teams in London.
            </p>
        </div>
        <div class="right column">
            <img src="/assets/images/me_october-2018.png" class="profile" alt="Visiting Discoveryland in October, 2018">
        </div>
    </div>
    <%# <div class="about section">
        <h2>My interests and hobbies</h2>
        <div class="left column">
            <ul>
                <li>Sci-fi films</li>
                <li>Books</li>
                <li>Travelling</li>
                <li>Museums</li>
            </ul>
        </div>
        <div class="right column">
            <ul>
                <li>History</li>
                <li>Electronics</li>
                <li>Technology</li>
                <li>Guitar</li>
            </ul>
        </div>
    </div> %>
</div>
