body {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 1.5;
    background-color: $grey-1;
    background-image:
        linear-gradient(rgba(255,255,255,.025) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255,.025) 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.025) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.025) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        opacity: 1;
    }

    &.more {
        display: block;
        opacity: 0.5;
        padding: 20px 0 10px;

        &:hover {
            opacity: 1;
            text-decoration: none;
        }
    }
}

ul {
    li {
        line-height: 1.75;
    }

    &.left-list,
    &.right-list {
        width: 50%;
        display: inline-block;
        padding-inline-start: 1.2em;
    }
}

#main-content {
    width: 100%;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    .container {
        max-width: 980px;
        margin: 0 auto;
        padding: 0 30px;

        &.post {
            margin: 3em auto;

            .panel {
                .title,
                .date {
                    width: 50%;
                    display: inline-block;
                }
    
                .date {
                    opacity: 0.5;
                    position: relative;
                    top: -15px;
                    text-align: right;
                }
    
                button.tag {
                    background-color: #333333;
                    border: none;
                    color: #ffffff;
                    cursor: pointer;
                    padding: 1em 1.5em;
                    margin: 0 1em 1em 0;
                    -webkit-appearance: unset;
                }
            }
        }
    }
}

nav,
footer {
    width: 100%;
    background-color: $grey-2;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.nav-container,
.footer-container {
    display: flow-root;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 0;


    .menu-links,
    .links {
        display: inline-block;
        float: left;
        margin: 12px 20px 10px;

        a {
            opacity: 0.5;
            padding: 10px 25px;

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }

    
    .user-links {
        display: inline-block;
        float: right;
        margin: 0;

        a {
            opacity: 0.5;
            padding: 5px 20px 0;
            display: inline-block;

            &:hover {
                opacity: 1;
            }

            img {
                width: 30px;
            }
        }
    }
}

.hero {
    padding: 50px 40px;

    .logo {
        width: 80px;
    }

    .logotype {
        display: inline-block;
        margin: 20px;
        position: relative;
        top: -35px;
    }

    ol {
        max-width: 260px;
        line-height: 1.4em;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;
        }
    }
}

.columns {
    display: flex;
    justify-content: space-between;

    &.one .panel {
        width: 100%;
    }

    &.two .panel {
        width: 49%;
    }

    &.three .panel {
        width: 32%;
    }

    &.four .panel {
        width: 23.5%;
    }
}

.panel {
    background-color: $grey-2;
    margin-bottom: 20px;
    padding: 15px 40px 20px;

    .posts {
        //display: flex;
        justify-content: space-between;

        .post {
            //width: 45%;
            display: inline-block;

            p {
                font-weight: 100;
            }
        }
    }

    .bio,
    .photo {
        display: inline-block;
    }

    .bio {
        width: 98%;
    }

    .photo {
        width: 25%;
    }
}

.photo {
    width: 49%;
    margin-bottom: 20px;
}

canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}
