body {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background-color: $grey-1;
    background-image:
        linear-gradient(rgba(255,255,255,.025) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255,.025) 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.025) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.025) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#main-content {
    width: 100%;
    padding: 0 30px;

    .container {
        max-width: 980px;
        min-height: 88vh;  // Will have to remove this eventually
        margin: 0 auto;
    }
}

nav,
footer {
    width: 100%;
    background-color: $grey-2;
    padding: 25px 0;
}

.nav-container,
.footer-container {
    display: flow-root;
    max-width: 980px;
    margin: 0 auto;

    .menu-links {
        display: inline-block;
        float: left;
        margin: 0;

        a {
            padding: 10px 40px;
        }
    }

    
    .user-links {
        display: inline-block;
        float: right;
        margin: 0;

        a {
            padding: 10px 40px;
        }
    }
}

.hero {
    padding: 10px 40px;
}

.panel {
    background-color: $grey-2;
    margin-bottom: 20px;
    padding: 5px 40px;
}
