body {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 1.5;
    background-color: #1c1c1c;
    background-image:
        linear-gradient(rgba(255,255,255,.025) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255,.025) 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.025) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.025) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

h2 {
    font-size: 1.2em;
}

a {
    color: $white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        opacity: 1;
    }

    &.more {
        display: block;
        opacity: 0.5;
        padding: 0 40px 40px;

        &:hover {
            opacity: 1;
            text-decoration: none;
        }
    }
}

ul {
    li {
        line-height: 1.75;
    }

    &.left-list,
    &.right-list {
        width: 50%;
        display: inline-block;
        margin: 0;
        padding: 40px 30px 40px 60px;
    }
}

#main-content {
    width: 100%;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    .container {
        max-width: 980px;
        margin: 0 auto;
        padding: 0 30px;

        &.post {
            margin: 3em auto;

            .panel {
                .title,
                .date {
                    width: 75%;
                    display: inline-block;
                    padding: 15px 40px 0px;
                }
    
                .date {
                    width: 25%;
                    float: right;
                    opacity: 0.5;
                    text-align: right;
                }
    
                button.tag {
                    background-color: $grey-1;
                    border: none;
                    color: $white;
                    cursor: pointer;
                    padding: 1em 1.5em;
                    margin: 0 1em 1em 0;
                    -webkit-appearance: unset;
                }
        
                .post-tag-container {
                    margin-bottom: 40px;
                    border-bottom: 1px solid rgba(255,255,255,.25);
                    padding: 0px 40px 20px;
                }

                .post-content {
                    padding: 0px 40px;

                    p {
                        max-width: 75%;
                        margin: 30px 0;
                    }

                    blockquote {
                        font-size: 1.75em;
                        margin: 1.5em 0;
                        max-width: 60%;
                        //opacity: 0.5;

                        &.short-quote {
                            max-width: unset;
                        }
                    }

                    hr {
                        margin: 2.5em 0;
                        opacity: 0.25;
                    }

                    .note,
                    .book-info {
                        background: $grey-1;
                        padding: 15px 40px 20px;
                        margin: 30px 0;
                        max-width: 80%;
                        margin-left: -40px;

                        h3 {
                            margin-bottom: 5px;
                        }

                        p {
                            max-width: unset;
                            margin: 20px 0;
                        }

                        &.illustration {
                            display: inline-block;

                            p,
                            ul {
                                width: 53%;
                                float: left;
                            }

                            img.illustration {
                                width: 40%;
                                margin-left: 40px;
                                padding: 20px 0;
                            }
                        }

                        &.diagram {
                            .gatsby-resp-image-background-image {
                                background-image: none !important;
                            }
                            .gatsby-resp-image-image{
                                box-shadow: none !important;
                                padding: 40px;
                            }
                        }

                        &.posters {
                            padding: 35px 30px 10px 15px;

                            .gatsby-resp-image-wrapper {
                                display: inline-block !important;
                                width: 21%;
                                margin: 0 0 20px 22px !important;
                            }
                        }
                    }

                    .screenshot {
                        margin-left: -20px;
                        max-width: 660px;


                        .gatsby-resp-image-background-image {
                            background-image: none !important;
                        }
                        .gatsby-resp-image-image{
                            box-shadow: none !important;
                        }
                    }

                    .book-info {
                        max-width: unset;
                        padding: 15px 15px 20px 40px;

                        .left {
                            display: inline-block;
                            width: 48%;

                            ul {
                                padding-inline-start: 1em;
                            }
                        }

                        span.gatsby-resp-image-wrapper {
                            width: 44%;
                            float: right;
                            margin: 0 0 4em 4em !important;

                            .gatsby-resp-image-link {
                                .gatsby-resp-image-image {
                                    box-shadow: none !important;
                                }
                            }
                        }
                    }
                }

                .social-links {
                    background-color: $grey-1;
                    padding-top: 25px;
                    margin-bottom: 30px;

                    button {
                        margin-right: 5px;
                    }

                    h2 {
                        margin: 0 0 0 20px;
                    }
                }

                .prev-post,
                .next-post {
                    display: inline-block;
                    font-weight: 300;
                    padding: 10px 40px 40px;
                }

                .next-post {
                    float: right;
                }
            }
        }
    }
}

nav,
footer {
    width: 100%;
    background-color: $grey-2;
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

footer {
    p {
        margin: 7px 0;
    }
}

.nav-container,
.footer-container {
    display: flow-root;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 0;


    .menu-links,
    .links {
        float: left;
        margin: 12px 20px 10px;

        a {
            opacity: 0.5;
            padding: 10px 25px;

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }

    .hero {
        background-color: $grey-1;
        float: left;
        margin: 15px 30px;
        padding: 40px 50px 35px;
        width: 32%;
    }

    .footer-links {
        display: inline-block;
        margin: 40px 20px 0;

        a {
            display: block;
            margin: 8px 0;
        }

        a.footer-link {
            display: inline-block;
            margin: 0;
        }
    }
    
    .user-links {
        float: right;
        margin: 0;

        a {
            opacity: 0.5;
            padding: 5px 20px 0;
            display: inline-block;

            &:hover {
                opacity: 1;
            }

            img {
                width: 30px;
            }
        }
    }
}

.hero {
    padding: 60px 50px 50px;

    .logo {
        width: 80px;
    }

    .logotype {
        display: inline-block;
        margin: 20px;
        position: relative;
        top: -35px;
    }

    ol {
        max-width: 260px;
        line-height: 1.4em;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;
        }
    }
}

.columns {
    display: flex;
    justify-content: space-between;

    &.one .panel {
        width: 100%;
    }

    &.two .panel {
        width: 49%;
    }

    &.three .panel {
        width: 32%;

        &.large {
            width: 66%
        }
    }

    &.four .panel {
        width: 23.5%;
    }
}

.panel {
    background-color: $grey-2;
    margin-bottom: 20px;

    .heading {
        padding: 35px 40px 30px;
        margin: 0;
        border-bottom: 1px solid rgba(255,255,255,.25);

        span {
            float: right;
            opacity: 0.1;
            font-weight: 500;
        }
    }

    .copy {
        padding: 35px 40px 30px;
        margin: 0;
    }

    .posts {
        justify-content: space-between;
        padding: 30px 40px 0;
        margin: 0;

        .post {
            display: inline-block;
            margin: 10px 0 16px;

            p {
                font-weight: 100;
            }

            .title {
                margin: 0 0 5px;
            }

            .date {
                opacity: 0.5;
                font-weight: 100;
                font-size: 1em;
                margin-top: 0;
            }
        }
    }

    .book-cover {
        width: 100%;
        padding: 40px 40px 0;
    }

    .work {
        width: 100%;
        margin-top: 10px;
    }

    .bio,
    .photo {
        display: inline-block;
    }

    .bio {
        width: 98%;
        padding: 35px 40px 30px;
    }

    .photo {
        width: 25%;
    }

    &.padded {
        padding: 15px 40px 20px;

        .posts {
            padding: 0;
        }
    }

    &.journal-posts {
        .post {
            width: 46%;
            margin: 20px 0;

            &:nth-of-type(2n) {
                margin-left: 6%;
            }
        }
    }

    &.tags {
        padding: 30px 40px;

        h2 {
            display: inline;
            margin-right: 50px;
        }

        .tag-filter {
            margin-right: 50px;

            &:nth-of-type(1) {
                color: $red;
            }

            &:nth-of-type(2) {
                color: $blue;
            }

            &:nth-of-type(3) {
                color: $green;
            }

            &:nth-of-type(4) {
                opacity: 0.5;
            }
        }

        .tag-heading {
            span {
                float: right;
                opacity: 0.1;
                font-weight: 500;
            }
        }
    }

    &.red {
        border-left: 10px solid $red;
    }

    &.blue {
        border-left: 10px solid $blue;
    }

    &.green {
        border-left: 10px solid $green;
    }

    &.grey {
        border-left: 10px solid $grey-3;
    }
}

.photo {
    width: 49%;
    margin-bottom: 20px;
}

.gatsby-highlight pre[class*="language-"] {
    background:  $grey-1;
    padding: 3em 1em;

    code[class*="language-"] {
        background: $grey-1;
    }
}

canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}
