---
---

<div id="sitemap">
    <div class="header section">
        <h1>Sitemap</h1>
    </div>
    <div class="section">
        <h2>Home</h2>
        <h3>The homepage</h3>
    </div>
    <div class="section">
        <h2>About</h2>
        <h3>Explains who I am</h3>
    </div>
    <div class="section">
        <h2>Work</h2>
        <h3>Lists my most recent positions and contains examples of my work</h3>
    </div>
    <div class="section">
        <h2>Journal</h2>
        <h3>Read articles and guides I've written</h3>
    </div>
    <div class="section">
        <h2>Contact</h2>
        <h3>Find my up-to-date contact information</h3>
    </div>
</div>

