---
---

<div id="work">
    <div class="header section">
        <h1>Work</h1>
    </div>
    <div class="section">
        <h2>Design Lead - <a href="https://my-a3.com/">A3 Agency Systems</a></h2>
        <h3>2017 - 2019</h3>
        <div class="left column">
            <p>
                I've most recently worked as Design Lead at A3 Agency Systems. Our team took a legacy 
                app, the AOS platform, and brought it up-to-date while adding features requested by 
                shipping agents.
            </p>
            <p>
                My focus was on the overall design and UI/UX of the software, although I also created 
                the logo and brand materials in this instance along with a design system for the team 
                to use in the future. The legacy software severely lacked a cohesive design language.
            </p>
        </div>
        <div class="right column">
            <img class="portfolio-image" src="/assets/images/a3_secondary_menu_ui.png" />
        </div>
        <p>
            When designing new software features we went through a rigorous concept and testing phase 
            involving everything from sketches to working prototypes (and a lot of user testing). The 
            end goal was to create a UI that users could navigate quickly and efficiently, with ready 
            access to the tools and workflows they'd be relying on the most.
        </p>
        <img class="portfolio-image" src="/assets/images/a3_website_spread.png" />
    </div>
    <div class="dressipi section">
        <h2>Front-end Web Developer - <a href="https://dressipi.com/">Dressipi</a></h2>
        <h3>2015 - 2017</h3>
        <div class="left column">
            <p>
                I enjoyed working at Dressipi for over two and a half years. During that time I 
                helped clients like John Lewis, Nike, and Topshop design and build branded web-apps. 
                I created UX-focused wireframes, professional UI mock-ups, polished working prototypes, 
                and coded the front-end. I also acted as an in-house designer creating icons, style 
                guides, and marketing material.
            </p>
            <img class="portfolio-image" src="/assets/images/dressipi_mobile_topshop.png" />
        </div>
        <div class="right column">
            <img class="portfolio-image" src="/assets/images/dressipi_style_adviser_mockup.jpg" />
            <img class="portfolio-image" src="/assets/images/dressipi_clients.jpg" />
        </div>
    </div>
    <div class="section">
        <h2>Front-end Web Developer - <a href="https://www.drawgroup.com/">Draw Digital Ltd.</a></h2>
        <h3>2014 - 2014</h3>
        <p>
            During my time as a front-end web developer at Draw I was working with several high-profile 
            clients. I was primarily tasked with the final stages of development on the new 
            <a href="https://www.officialcharts.com/">Official Charts Company website</a>. I worked to 
            the client's strict specifications and integrated polls and competition modules making sure 
            that everything was coded to be responsive across a wide range of digital devices. I also 
            performed cross-browser testing and created a variety of assets from logos to affiliate links.
        </p>
        <p>
            I worked closely with the talented design and tech teams during my time at Draw and was 
            praised by the team lead for the quality of my code before finishing work on the project.
        </p>
    </div>
    <div class="section">
        <h2>Junior Web Developer - <a href="https://about.edukit.org.uk/">Edukit</a></h2>
        <h3>2014 - 2014</h3>
        <p>
            Edukit are an exciting education-based tech start-up based on Silicon Roundabout in 
            Central London. They aim to bridge the gap between schools and the wealth of youth-
            programmes available for the benefit of students.
        </p>
        <p>
            I was brought in as the sole front-end developer on the project and started by cleaning 
            up the working prototype for initial viewing by investors early on. After we successfully 
            secured funding, I was tasked with completely redesigning the UI for the web app based on 
            my own conducted UX research. We went through a lot of internal and external testing 
            before arriving at a final concept everyone was thrilled with.
        </p>
        <p>
            The small team were very passionate about the project and I enjoyed working with them very 
            much. We've stayed in touch since I finished work on the project and I'm sure we'll see 
            Edukit helping many schools and students in the future.
        </p>
    </div>
</div>

