---
---

<div id="journal">
    <div class="header section">
        <h1>Work</h1>
    </div>
    <div class="section">
        <h2>Design Lead - A3 Agency Systems</h2>
        <h3>2017 - 2019</h3>
    </div>
    <div class="section">
        <h2>Front-end Web Developer - Dressipi</h2>
        <h3>2015 - 2017</h3>
    </div>
    <div class="section">
        <h2>Front-end Web Developer - Draw Digital Ltd.</h2>
        <h3>2014 - 2014</h3>
    </div>
</div>

