$content-width: 850px;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #222222;
$nav-font-color: #ffffff;
$link-hover-color: #e15050;

.links {
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;

            a {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;

                &:hover {
                    background: $link-hover-color;
                    color: $nav-font-color;
                }

                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                } 
            }

            ul li {
                min-width: 190px;

                & a {
                    padding: 15px;
                    line-height: 20px;
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: $breakpoint) {
    .links  {
        width: 100%;
        margin: 0;

        ul {
            li {
                float: none;

                a {
                    padding: 20px;
                    line-height: 20px;
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

.footer {
    height: $nav-height;
    background: $nav-background;
    margin-top: 30px;

    .container {
        max-width: $content-width;
        margin: 0 auto;
    }
}
