$breakpoint: 800px;

#journal {
    .articles.section {
        padding: 20px 50px;

        h2 {
            border-bottom: 1px solid white;
            margin-bottom: 30px;
            padding-bottom: 20px;
        }

        .article {
            height: 275px;
            margin-bottom: 0;
            width: 46%;

            h2 {
                border-bottom: none;
                margin-bottom: 0;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .date {
                opacity: 0.5;

                &.latest {
                    color: #00af77;
                    font-weight: bold;
                    opacity: 1;
                }
            }

            .read-more {
                a {
                    color: #e15050;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .article:nth-of-type(2n) {
            margin-left: 8%;
        }
    }
}

@media only screen and (max-width: $breakpoint) {
    #journal {
        .articles.section {
            .article {
                height: unset;
                margin-bottom: 20px;
                width: 100%;
            }

            .article:nth-of-type(2n) {
                margin-left: 0;
            }
        }
    }
}
