.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 15px 0;
    padding: 0 30px 20px;
}

.social-links > div {
    margin: 5px 15px;
    cursor: pointer;
}

.share-count {
    text-align: center;
}
