<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <title>Parallax.js | Relative Example</title>

  <!-- Behavioral Meta Data -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="./assets/styles.css"/>

</head>
<body>

  <div id="container" class="container">
    <div id="scene" class="scene">
			<div data-depth="1.00"><img src="./assets/images/Vienna-Vector-01.png"></div>
			<div data-depth="0.90"><img src="./assets/images/Vienna-Vector-02.png"></div>
			<div data-depth="0.80"><img src="./assets/images/Vienna-Vector-03.png"></div>
			<div data-depth="0.70"><img src="./assets/images/Vienna-Vector-04.png"></div>
			<div data-depth="0.60"><img src="./assets/images/Vienna-Vector-05.png"></div>
			<div data-depth="0.50"><img src="./assets/images/Vienna-Vector-06.png"></div>
			<div data-depth="0.40"><img src="./assets/images/Vienna-Vector-07.png"></div>
			<div data-depth="0.30"><img src="./assets/images/Vienna-Vector-08.png"></div>
			<div data-depth="0.20"><img src="./assets/images/Vienna-Vector-09.png"></div>
			<div data-depth="0.10"><img src="./assets/images/Vienna-Vector-10.png"></div>
			<div data-depth="0.00"><img src="./assets/images/Vienna-Vector-11.png"></div>
    </div>
    <br>
    <input type="checkbox" id="relative" checked>
    <label for="relative">relativeInput</label>
    <input type="checkbox" id="clip">
    <label for="clip">clipRelativeInput</label>
  </div>

  <!-- Scripts -->
  <script src="../parallax.js"></script>
  <script>

  // Elements
  var scene = document.getElementById('scene');
  var clipCheckbox = document.getElementById('clip');
  var relativeCheckbox = document.getElementById('relative');

  // Pretty simple huh?
  var parallax = new Parallax(scene, {
    relativeInput: relativeCheckbox.checked,
    clipRelativeInput: clipCheckbox.checked
  });

  relativeCheckbox.addEventListener('change', function(event) {
    parallax.relativeInput = relativeCheckbox.checked;
  });

  clipCheckbox.addEventListener('change', function(event) {
    parallax.clipRelativeInput = clipCheckbox.checked;
  });

  </script>

</body>
</html>
