<section class="navigation">
    <div class="nav-container">
        <div class="logo">
            <a href="/">
                <img src="/assets/images/logo.svg" alt="Home" />
            </a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="/pages/about">About</a>
                </li>
                <li>
                    <a href="/pages/work">Work</a>
                </li>
                <li>
                    <a href="/pages/journal">Journal</a>
                </li>
                <li>
                    <a href="/pages/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</section>