body {
  background: #f0ebdd;
  color: #333;
  font-family: monospace;
  font-size: 18px;
  margin: 0; }

img {
  display: block;
  width: 100%; }

input[type=checkbox] {
  display: none; }

label {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0; }

input[type=checkbox] + label:before {
  background: #555;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 1px;
  width: 16px; }

input[type=checkbox]:checked + label:before {
  background: #333; }

.container {
  margin: 0 auto;
  position: relative; }

.container--offset {
  margin-left: 0; }

button {
  background: #333;
  border: 10px solid #333;
  cursor: pointer;
  display: block;
  font-family: monospace;
  font-size: 24px;
  height: 80px;
  line-height: 60px;
  margin: 0;
  outline: none;
  padding: 0 1.2em;
  text-align: right; }
  button:hover {
    background: #333; }
  button#deleteme {
    margin: 2rem; }

.scene {
  background: #f0ebdd;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .scene button {
    left: 10%;
    top: 260px;
    width: 80%;
    position: absolute; }

.fill {
  bottom: 5%;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 5%; }

.expand-width {
  width: 100%; }

.border {
  border: 2px dashed #333; }

.aspect {
  opacity: 0.2; }

.scene > *:nth-child(1) {
  opacity: 1; }
  .scene > *:nth-child(1) button {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }

.scene > *:nth-child(2) {
  opacity: 1; }
  .scene > *:nth-child(2) button {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }

.scene > *:nth-child(3) {
  opacity: 1; }
  .scene > *:nth-child(3) button {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }

.scene > *:nth-child(4) {
  opacity: 1; }
  .scene > *:nth-child(4) button {
    -webkit-transform: rotate(105deg);
        -ms-transform: rotate(105deg);
            transform: rotate(105deg); }

.scene > *:nth-child(5) {
  opacity: 1; }
  .scene > *:nth-child(5) button {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.scene > *:nth-child(6) {
  opacity: 1; }
  .scene > *:nth-child(6) button {
    -webkit-transform: rotate(75deg);
        -ms-transform: rotate(75deg);
            transform: rotate(75deg); }

.scene > *:nth-child(7) {
  opacity: 1; }
  .scene > *:nth-child(7) button {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
            
.scene > *:nth-child(8) {
  opacity: 1; }
  .scene > *:nth-child(8) button {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
            
.scene > *:nth-child(9) {
  opacity: 1; }
  .scene > *:nth-child(9) button {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
            
.scene > *:nth-child(10) {
  opacity: 1; }
  .scene > *:nth-child(10) button {
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
            
.scene > *:nth-child(11) {
  opacity: 1; }
  .scene > *:nth-child(11) button {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }

.overlay img {
  mix-blend-mode: hard-light;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
