---
---

<div id="journal">
    <div class="header section">
        <h1>Contact</h1>
    </div>

    <div class="section">
        <h2>matt@insidae.com</h2>
        <h2>insidae@gmail.com</h2>
        <h2>07817 559 895</h2>
    </div>
</div>
