---
---

<div id="contact">
    <div class="header section">
        <h1>Contact</h1>
    </div>

    <div class="section">
        <h2>matt@insidae.com</h2>
        <h2>insidae@gmail.com</h2>
        <h2>07817 559 895</h2>
    </div>

    <div class="weird section">
        <h2>Well, hello there...</h2>
        <div class="left column">
            <p>
                <q>
                    Some say he's saved the world countless times but 
                    would never dream of mentioning it in public.
                </q>
                <br/>
                <br/>
                <q>
                    Others say he has the strength of two, weak, men.
                </q>
                <br/>
                <br/>
                <q>
                    And then there are those who say he likes to photoshop 
                    images of himself sat in front of a log fire to ease 
                    his impressively low self-esteem.
                </q>
                <br/>
                <br/>
                <q>
                    All we know is that he's eagerly waiting for you to get 
                    in touch. He doesn't mind if you prefer to email, in fact, 
                    he prefers it (unexpected phone calls make him shriek 
                    like a small child).
                </q>
                <br/>
                <br/>
                <q>
                    However you choose to get in touch, know that 
                    you've made a grown man mildly surprised.
                </q>
                <br/>
                <br/>
                <small>Who thought this section was a good idea?!</small>
                <br/>
                <small>The brick wall behind the chair just fades into the floor?!</small>
            </p>
        </div>
        <div class="right column">
            <img src="/assets/images/me_november-2018.png" class="profile" alt="Reclining in an armchair. November, 2018">
        </div>
    </div>
</div>
