<nav class="">
    <ul>
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/about">
            <li>About</li>
        </a>
        <a href="/journal">
            <li>Journal</li>
        </a>
        <a href="/work">
            <li>Work</li>
        </a>
        <a href="/contact">
            <li>Contact</li>
        </a>
    </ul>
</nav>