---
---

<div id="homepage">
    <div class="header section">
        <div class="hero">
            <img class="" src="/assets/images/logo.svg" alt="Insidae Logo" />
            <h1>insidae</h1>
        </div>
    </div>
</div>
