// Variables

$black: #000000;
$white: #ffffff;

$grey-1: #333333;
$grey-2: #222222;
$grey-3: #444444;

$red: #e15050;
$green: #49c876;
$blue: #4695be;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;