// Variables

$black: #000000;
$white: #ffffff;

$grey-1: #222222;
$grey-2: #333333;
$grey-3: #444444;

$red: #e04242;
$green: #2e8b57;
$blue: #5486a2;

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;